.section_title{
	font-size:14pt;
	font-weight:bold;
}
.epubStyle1{
	font-family:한양해서;
	font-size:16pt;
	font-weight:bold;
}
body{
	font-family:바탕;
	font-size:12pt;
}
.epubStyle2{
	font-size:10pt;
}
.comment{
	font-size:11pt;
	color:#4B8609;
}
