#headline {
    font: 400 60px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}


.mainContainer {
    height: 90vh; /*vh == viewport height*/
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.string {
    color: #005200;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: #8e1aff;
}

button {
    position: relative;
    padding: 10px 20px 10px 34px;
}

#searchbox {
    display: inline;
    padding: 6px;
    width: auto;
}


body {
    background-color: #eee;

}

.jumbotron {
    height: 100vh; /*vh == viewport height*/
    width: 100vw;
    padding: 0;
}

iframe {
    width: 100%;
    height: 100%;
}

#readiumWrapper {
    border-radius: 5px;
    height: 70%;
    width: 50%;
    float: left;
}

#duration {
    color: #9b9b9b;
    font: 400 14px/1.3 'Oleo Script', Helvetica, sans-serif;

}

#searchControl {
    height: 70%;
    width: 50%;
    background-color: #ffffff;
    float: left;
    border-radius: 5px;
    border: 2px solid #c1c2ca;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
    background-color: #c1c2ca;
    padding: 5px 15px;
}

.panel-default > .panel-heading-custom {
    background: #4d4d4d;
    color: #fff;
}

.listWrapper {
    max-height: 400px;
    overflow-y: auto;
}

/* tab color */
.nav-tabs > li > a {
    background-color: #333333;
    border-color: #777777;
    color: #fff;
}

/* active tab color */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #666;
    border: 1px solid #888888;
}

/* hover tab color */
.nav-tabs > li > a:hover {
    border-color: #000000;
    background-color: #111111;
}

ul.ui-autocomplete
{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /*border: 1px solid #ccc;*/
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

li.ui-menu-item {
    display: block;
    padding: 3px 12px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;

}
.ui-state-active {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}

