pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.string {
    color: #005200;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: #8e1aff;
}

#spinner {
    position: relative;
    background-color: #3d6169;
    width: 100px;
    height: 100px;
    margin: 0 20px 20px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: none;
}

ul.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /*border: 1px solid #ccc;*/
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

li.ui-menu-item {
    display: block;
    padding: 3px 12px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;

}

li.ui-menu-item.ui-state-focus {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}

/* move the jquery accessible helper to offscreen area */
.ui-helper-hidden-accessible {
    position: absolute;
    left: -9999px;
}